---
const BADGES = {
    HIGH: {
        priority: "Alta",
        class: "text-red-500 border-red-500 bg-red-100/30",
    },
    MEDIUM: {
        priority: "Media",
        class: "text-yellow-500 border-yellow-500 bg-yellow-100/30",
    },
    LOW: {
        priority: "Baja",
        class: "text-green-500 border-green-500 bg-green-100/30",
    },
}
---

<span class=`${BADGES.HIGH.class} text-xs font-semibold rounded-lg py-1 px-2 border`>{BADGES.HIGH.priority}</span>
<span class=`${BADGES.MEDIUM.class} text-xs font-semibold rounded-lg py-1 px-2 border`>{BADGES.MEDIUM.priority}</span>
<span class=`${BADGES.LOW.class} text-xs font-semibold rounded-lg py-1 px-2 border`>{BADGES.LOW.priority}</span>